/* DEFAULT VALUES */
html {
    font-family: sans-serif;
    color: rgba(255, 255, 255, .8);
}

/* MAIN is size of entire window */
main {
    width: 100vw;
    height: 100vh;
}

/* NAV */
nav {
    width: 240px;
    height: 100vh;
    background-color: #181818;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;
    /* float: left; */
    position: fixed; /* keeps nav from scrolling */
    line-height: 2.3em;
}

/* hover over links to get cursor pointer and underline effect */
.links span:hover {
    cursor: pointer;
    padding-bottom: 2px;
    border-bottom: 2px solid rgba(255, 255, 255, .3);
}

/* SOCIAL MEDIA ICONS */
.media {
    display: flex;
}
.media > div {
    background-color: rgba(255, 255, 255, .8);
    height: 20px;
    width: 20px;
    margin-right: 20px;
}

/* CONTENT SECTION */
.content-section {
    background-color: whitesmoke;
    min-height: 100vh;
    width: calc(100vw - 240px);
    /* float: left; */
    float: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px 0;
}

/* PHOTOS */
.photos {
    width: 840px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
/* photos */
.photos > div {
    height: 265px;
    width: 400px;
    margin: 10px;
    background-color: teal;
}

/* TEXT section above photos */
.content-section .text {
    height: 80px;
    width: 820px; /* width of 2 photos plus the margins between them */
    background-color: whitesmoke;
    color: rgba(100, 100, 100, 1);
    border-bottom: 1.3px solid rgba(100, 100, 100, 0.5);
    margin-bottom: 20px;
    line-height: 2em;
}